main{
    gap: 3rem;
    padding-right: 5rem;
}



.calendario {
    flex: 2;
    background-color: #1c202b;
    padding: 20px;
}

.eventos {
    flex: 1;
    background-color: #1c202b;
    padding: 20px;
    display: flex;
    flex-flow: column;
    gap: 2.5rem;
}

/* Estilos do calendário */
.calendario-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.calendario-header h2 {
    margin: 0;
    font-size: 20px;
    color: white;
}

.calendario-header button {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    color: white;
}

.calendario-header button:hover {
    color: var(--cor-secundaria);
}

.dias-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    color: #7f8c8d;
}

.dias-mes {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.dia {
    padding: 10px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s;
    position: relative;
    height: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.dia:hover {
    background-color: var(--cor-secundaria);
}

.dia.outro-mes {
    color: #bdc3c7;
}

.dia.hoje {
    background-color:  var(--cor-primaria);
    font-weight: bold;
}

.dia.com-evento::after {
    content: '';
    width: 6px;
    height: 6px;
    background-color: white;
    position: absolute;
    border-radius: 50%;
    top: 5px;
    right: 5px;
}

.dia.selecionado {
    background-color: var(--cor-primaria);
}

/* Estilos dos eventos */
#evento-data {
    margin-top: 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.evento-item {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-left: 0.5rem solid var(--cor-secundaria);
}

.evento-item h4 {
    color: black;
}

.evento-item p {
    margin-bottom: 0;
    color: black;
}