@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

:root {
    --cor-fundo: #2a303e;
    --cor-primaria: #f13a3c;
    --cor-secundaria: #454df6;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
    font-weight: 500;
    font-family: "Source Sans 3", sans-serif;
    background-color: var(--cor-fundo);
    color: white;
    line-height: 1.6;
}

header {
    position: sticky;
    z-index: 1000;
    padding: 1.728rem;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    display: flex;
    gap: 10rem;
}

li {
    display: inline-block;
}

li a::after {
    content: '';
    position: absolute;
    bottom: -0.2rem;
    left: 50%;
    width: 0;
    height: 0.2rem;
    background-color: var(--cor-secundaria);
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    transform: translateX(-50%);
}

li a:hover::after {
    width: 100%;
    left: 50%;
}

section {
    padding-top: 5rem;
}

.conteiner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 15rem;
}

h1 {
    font-size: 4.122rem;
    line-height: 1;
}

h2 {
    font-size: 3.488rem;
    line-height: 1.2;
}

h3 {
    font-size: 2.228rem;
    line-height: 1.3;
}

p, li, a {
    font-size: 1.728rem;
    line-height: 1.7;
    list-style: none;
    text-decoration: none;
    color: white;
    position: relative;
}

main {
    height: calc(100vh - 90px);
}

.descricao {
    color: rgba(255, 255, 255, 0.75);
}

.fundo {
    background-color: #202832;
    width: 100rem;
    height: 80%;
    position: relative;
    padding: 2.75rem;
    display: flex;
    gap: 10rem;
    border-radius: 0.5rem;
}

.input-conteiner {
    position: relative;
}


.input-conteiner input{
    transition: all 0.3s ease-in-out;
}

.input-conteiner label {
    position: absolute;
    left: 4rem;
    transform: translateY(1rem);
    font-size: 1.2rem;
    pointer-events: none;
    padding: 0 0.5rem;
    transition: all 0.3s ease-in-out;
}

.input-conteiner input:valid + label
{
    transform: translateY(-50%) scale(0.8);
    color: white;
    background-color: #202832;
}

.input-conteiner input:not(:valid) + label
{
    color: white;
    transform: translateY(50%);
    background-color: #202832;
}

.input-conteiner input:focus + label{
    transform: translateY(-50%) scale(0.8);
    color: #f13a3c;
}

p#nome-pagina {
    font-weight: bold;
    font-size: 2.074rem;
}

aside{
    height: 100vh;
    width: 30rem;
    position: fixed;
    left: 0;
    background-color: #1c202b;
}

a.botao, 
input[type="submit"] {
    text-align: center;
    font-size: 1.728rem;
    background-color: var(--cor-secundaria);
    padding: 1rem 2.5rem;
    border-radius: 5rem;
    box-shadow: 0px 0px 20px 5px #454ef699;
    border: 0.1rem solid var(--cor-secundaria);
    transition: 
        box-shadow 0.25s ease-in-out, 
        background-color 0.25s ease-in-out, 
        color 0.25s ease-in-out;
    color: white;
}

a.botao.inverso, 
input[type="submit"].inverso {
    cursor: pointer;
    background-color: var(--cor-primaria);
    box-shadow: 0px 0px 20px 5px #f13a3d99;
    border: 0.1rem solid var(--cor-primaria);
}

a.botao.inverso:hover, 
input[type="submit"].inverso:hover {
    background-color: transparent;
    box-shadow: none;
    color: var(--cor-primaria);
}

input[type="text"] {
    background-color: transparent;
    border: 0.15rem solid white;
    color: white;
    width: 100%;
    border-radius: 5rem;
    padding: 1rem 2.5rem;
}

input[type="text"]:focus {
    border: 0.1rem solid var(--cor-primaria);
}

.input-radio {
    display: flex;
    gap: 0.8rem;
    justify-content: space-between;
}

.input-radio input {
    visibility: hidden;
    position: absolute;
}

.input-radio label {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: white;
    transition: color 0.3s ease;
}

.input-radio label::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
    transition: all 0.3s ease;
}

.input-radio input:checked + label {
    color: var(--cor-secundaria); 
}

.input-radio input:checked + label::before {
    background-color: var(--cor-secundaria); 
    border-color: var(--cor-secundaria);
    box-shadow: 0 0 5px var(--cor-secundaria);
}

.input-radio label:hover {
    color: var(--cor-secundaria);
}

.input-radio label:hover::before {
    border-color: var(--cor-secundaria);
    transform: scale(1.1);
}