main{
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
    height: auto;
}

main > div{
    padding-bottom: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}


.disciplina-sala{
    width: 65rem;
    height: 20rem;
    background-color: var(--cor-secundaria);
    font-size: 5.5rem;
    padding: 2rem;
    position: relative;

    & > img{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
    }
   
}


.editor-container-wrapper{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.fundo-personalizado{
    background-color: var(--cor-secundaria);
    height: 25%;
    width: 100%;
    position: relative;
    background-image: url(../../imgs/wave.svg);
    background-position: 0;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem;

    & > p{
        color: white;
        font-size: 2.8rem;
        font-weight: 600;
        padding-left: 3.5rem;
        padding-bottom: 5rem;
    }
}

.subtitulos{
    color: #666;
}

.conteiner-post{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
    margin-top: 3.5rem;

    & .grupo{
        display: flex;
        flex-flow: column;
        gap: 1.5rem;
    }
}

.editor-texto{
    position: relative;
    background-color: white;
    width: 110rem;
    height: 60rem;
    display: flex;
    flex-flow: column;
    gap: 2rem;
}

#editor-container{
    position: relative;
    height: 15rem;
    background: white;
    border: 0.35rem solid #ccc;
}



#toolbar {
    height: 5rem;
    background-color: white;
    width: 50rem;
}


.ql-editor > p{
    color: black;
}

#editor-wrapper{
  border: 1px solid #ccc;
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 50rem;
}

.popup{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup-content {
    height: 40rem;
    width: 30rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;
    background: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    & > div{
        display: flex;
        gap: 5rem;
        justify-content: center;

        & > p{
            color: black;
        }
    }
}

#lista-atividades{
    display: flex;
    flex-flow: column;
    gap: 3.5rem;
}

.display-none{
    display: none;
}

.atividade {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: white;
    width: 65rem;
    height: 10rem;
    padding: 7rem 3rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-left: solid 0.5rem var(--cor-secundaria);

    & p {
        color: black;
        z-index: 2; 
    }

     &  p.opcao-excluir{
        position: absolute;
        right: 8rem;
        top: 5rem;
        cursor: pointer;
    }


    & > div{
        display: flex;
        width: 100%;
        height: 10rem;
        justify-content: start;
        align-items: center;
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0%;
        background-color:  #dcdcdc;
        z-index: 1;
        transition: width 0.25s ease-in-out;
    }

    &:hover::before {
        width: 100%;
    }


}

.atividade-bloqueada{
    background-color: #dcdcdc;
    
    & .aviso-prazo{
        color: var(--cor-primaria);
    }
}

.comentario{
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    background-color: white;
    width: 65rem;
    height: auto;
    padding: 7rem 3rem;
    border-left: solid 0.5rem var(--cor-primaria);

    & a{
        color: var(--cor-primaria);

        &:hover{
            text-decoration: underline;
        }
    }

    & p{
        color: black;
    }

    & > div{
        display: flex;
        justify-content: space-around;

        & > div:nth-child(2){
            position: absolute;
            right: 8rem;
            cursor: pointer;
        }
    }
}

.popup-excluir{
    display: flex;
    flex-flow: column;
    width: 10rem;
    height: 5rem;
    border: 0;
    padding: 0; 
    position: absolute;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0.5);
    z-index: 2;

    & > button{
        border: 0;
        background-color: transparent;
        height: 100%;
        width: 100%;
        transition: background-color 0.15s ease-in-out;

        &:hover{
            background-color: #ccc;
        }
    }
}

img{
    width: 12rem;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;

    &:hover{
        opacity: 0.75;
    }
}

#arquivo-container{
    padding: 10px;
    display: flex;
    align-items: center;
    width: 50rem;
    height: 100%;
    gap: 10px;
    position: relative;
    border: 0.35rem dashed #ccc;
    justify-content: center;


    & > div{
        display: flex;
        flex-flow: column;
        align-items: center;        
    }
}

#data-entrega-container {
    width: 50rem;
}

button.botao{
    box-shadow: 0px 0px 0px 0px transparent;
    border-radius: 0;
    width: 25rem;
}


input[type="text"] {
    border-radius: 0;
    border: 0.35rem solid #ccc;
    color: black;
    
    &:focus{
        border: 0.35rem solid #ccc;
    }
}

button.botao-cancelar{
    background-color: transparent;
    color: var(--cor-secundaria);
}

#nome-arquivo {
    font-size: 14px;
    color: #666;
    text-align: center;
}


  .botao-formulario {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: var(--cor-secundaria);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    z-index: 900;
    border: none;
  }

  .popup-tipo {
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 800;
  }

  .popup-tipo button {
    position: absolute;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: var(--cor-secundaria);
    color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    opacity: 0;
    transition: all 0.3s ease;
  }

.popup-tipo button i{
    font-size: 2rem;
}

  .popup-tipo.visible #btn-comentario {
    animation: subir-comentario 0.3s forwards;
  }

  .popup-tipo.visible #btn-atividade {
    animation: subir-atividade 0.3s 0.1s forwards;
  }

  @keyframes subir-comentario {
    from {
      transform: translate(0, 0);
      opacity: 0;
    }
    to {
      transform: translate(-150px, -100px);
      opacity: 1;
    }
  }

  @keyframes subir-atividade {
    from {
      transform: translate(0, 0);
      opacity: 0;
    }
    to {
      transform: translate(-50px, -150px);
      opacity: 1;
    }
  }